/*---------- ----------*\
        Font-face
\*---------- ----------*/

@font-face {
font-family: "disco";
src: url('fonts/DiscoDiva.ttf');
}





/*---------- ----------*\
          body
\*---------- ----------*/

body{
  font-family: "disco";
  font-weight: lighter;
}





/*---------- ----------*\
          header
\*---------- ----------*/

header {
  background-image: url("../images/soleil1.jpg");
  background-size: cover;
}

/*-- Nav --*/

.elementposition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 60px;
}

/*Titre*/
h1 {
  color: white;
  font-size: 70px;
}
.F {
  color: #BE004F;
}
.U {
  color: #F7B310;
}
.N {
  color: #103F54;
}

/*Liens*/
.navlink {
  text-align: center;
  padding: 5px 0;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #0094B6;
  width: 30%;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navlink:hover {
  background-color: #BE004F;
}
